In [1]:
import pandas as pd
import numpy as np

In [54]:
fname = 'TC58BFunCy12018226104837_DID-Pull_Trans.dat'
num_lines= 0
with open(fname) as f:
    for line in f:
        pass
    last_line = line  
    if '  \n' in last_line:
        last_line = last_line.replace('  \n', '')
    if '\n' in last_line:
        last_line = last_line.replace('\n', '')
    #print(last_line)
#df = pd.read_csv(fname, skiprows=range(1,num_lines-1), delimiter='\t')
df = pd.DataFrame([np.array(last_line.split('\t'))],columns=range(1,len(last_line.split('\t'))+1) )
df[6] =  pd.to_datetime(df[6] + '  ' + df[7])

df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26 10:49:08,10:49:08.090,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...

In [36]:
#.dt.strftime('%Y/%m/%Y %h%m%s').astype('datetime64[ns]')

In [37]:

df.drop(7, inplace=True, axis=1)

In [38]:
df

,1,2,3,4,5,6,8,9,10,11,12,13
0,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26 10:49:08.090,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...

In [6]:
N_of_inc = 5
duration = 0.2
for i in range(N_of_inc):
    df = df.append(df.iloc[-1], ignore_index=True)
    inc_time = pd.to_datetime(df.iloc[-1,5])+ pd.to_timedelta(duration, unit='s')
    print(inc_time)
    df.at[i+1,6] = inc_time
df = df.iloc[0:]
df[7] = pd.to_datetime(df[6]).dt.time
df[6] = pd.to_datetime(df[6]).dt.date
df = df[range(1,14)]

2018-02-26 10:49:08.290000
2018-02-26 10:49:08.490000
2018-02-26 10:49:08.690000
2018-02-26 10:49:08.890000
2018-02-26 10:49:09.090000

In [7]:
inc_time = pd.to_datetime(df.iloc[-1,5])+ pd.to_timedelta(0.2, unit='s')
print(inc_time)
df.at[1,6] = inc_time
df

2018-02-26 00:00:00.200000

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26,10:49:08.090000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...
1,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26 00:00:00.200000,10:49:08.290000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...
2,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26,10:49:08.490000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...
3,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26,10:49:08.690000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...
4,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26,10:49:08.890000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...
5,1,1519660148.090000,BLINC1DID,T,DATA,2018-02-26,10:49:09.090000,$DE,GM Serial Data Database Revision Level,12,RAW,07030011116E02030011116E,HVEM Database: 17.17.110 GMLAN Database: 17.1...

In [8]:
np.array(df[13])

array(['HVEM Database: 17.17.110  GMLAN Database: 17.17.110',
       'HVEM Database: 17.17.110  GMLAN Database: 17.17.110',
       'HVEM Database: 17.17.110  GMLAN Database: 17.17.110',
       'HVEM Database: 17.17.110  GMLAN Database: 17.17.110',
       'HVEM Database: 17.17.110  GMLAN Database: 17.17.110',
       'HVEM Database: 17.17.110  GMLAN Database: 17.17.110'],
      dtype=object)

In [9]:
df.to_csv(fname, mode='a', header=False,sep='\t', index=False, )