In [1]:
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [9]:
data = pd.read_csv('regression.csv')

In [10]:
data.head()

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Position,Jersey Number,Contract Valid Until,Height,Weight
0,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,€565K,RF,10.0,2021,5'7,159lbs
1,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,€405K,ST,7.0,2022,6'2,183lbs
2,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,€290K,LW,10.0,2022,5'9,150lbs
3,De Gea,27,Spain,91,93,Manchester United,72000000.0,€260K,GK,1.0,2020,6'4,168lbs
4,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,€355K,RCM,7.0,2023,5'11,154lbs

In [6]:
pd.get_dummies(data[data.columns])

,Age,Overall,Potential,Value,Jersey Number,Name_A. Abang,Name_A. Abdellaoui,Name_A. Abdennour,Name_A. Abdi,Name_A. Abdu Jaber,...,Weight_216lbs,Weight_218lbs,Weight_220lbs,Weight_223lbs,Weight_225lbs,Weight_227lbs,Weight_229lbs,Weight_234lbs,Weight_236lbs,Weight_243lbs
0,31,94,94,110500000.0,10.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33,94,94,77000000.0,7.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26,92,93,118500000.0,10.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,27,91,93,72000000.0,1.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,27,91,92,102000000.0,7.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17902,19,47,65,60000.0,22.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17903,19,47,63,60000.0,21.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17904,16,47,67,60000.0,33.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17905,17,47,66,60000.0,34.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17906,16,46,66,60000.0,33.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
pd.get_dummies(data[['Age','Contract Valid Until']])

,Age,Contract Valid Until_2018,Contract Valid Until_2019,Contract Valid Until_2020,Contract Valid Until_2021,Contract Valid Until_2022,Contract Valid Until_2023,Contract Valid Until_2024,Contract Valid Until_2025,Contract Valid Until_2026,...,"Contract Valid Until_Jan 6, 2019","Contract Valid Until_Jan 7, 2019","Contract Valid Until_Jun 1, 2019","Contract Valid Until_Jun 30, 2019","Contract Valid Until_Jun 30, 2020","Contract Valid Until_May 31, 2019","Contract Valid Until_May 31, 2020","Contract Valid Until_May 4, 2019","Contract Valid Until_Nov 30, 2018","Contract Valid Until_Oct 14, 2019"
0,31,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,33,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,27,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,27,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17902,19,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17903,19,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17904,16,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17905,17,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17906,16,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0