In [ ]:
sum(ar*new_ar) = out
find ar